.aboutHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aboutHome .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutHome .left {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aboutHome .left img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  margin-right: auto;
  margin-left: 0;
  
}

.aboutHome .right {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aboutHome .items {
  margin-top: 40px;
}

.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}

.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.aboutHome .item p {
  color: black;
  height: 250px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column;
  }

  .aboutHome .left,
  .aboutHome .right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
  }
  .aboutHome .left{
    justify-content: center;
    align-items: center;
  }
}

.aboutHome .text{
  margin-top: 5px;
  max-width: 500px; /* Itt az 500px helyett használd a kép szélességét */
}

