.idezet {
    background-image: url("https://images.unsplash.com/photo-1551516595-09cb9fcf8db5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    /* background-size: auto; */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    /* height: 100vh; */
    padding-top: 30%;
    padding-right: 50px;
    color: #fff;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: flex-start; */
}
.idezet .row {
  color: #fff;
  margin: 0;
}
.idezet .row {
  /* text-align: left; */
  position: relative;
  z-index: 1;
  /* margin: 0; */
  /* padding: 0; */
}
@media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .hero {
      background-position: right;
      padding-top: 50%;
      height: 80vh;
    }
    .hero .row {
      width: 100%;
    }
  }